* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

html {
	font-size: 62.5%;
}

body {
	background-color: $light-grayish-magenta;
	font-size: 1.5rem;
	font-family: 'League Spartan', sans-serif;
}

.wrapper {
	min-width: 350px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	padding: 0 1.5em;

	.header,
	.ratings,
	.opinions {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.header {
		grid-row: 1/2;
		justify-content: center;

		&__title {
			font-size: 3.6rem;
			color: $very-dark-magenta;
			line-height: 0.8;
			padding-top: 2.2em;
		}

		&__text {
			font-size: 1.7rem;
			color: $dark-grayish-magenta;
			line-height: 1.3;
			padding-top: 1.2em;
		}
	}

	.ratings {
		grid-row: 2/3;
		margin-top: 1em;
		justify-content: space-evenly;

		&__block {
			width: 100%;
			height: 75px;
			padding: 1em 2em;
			background-color: rgba(238, 104, 164, 0.05);
			border-radius: 5px;
			margin: 0.5em 0;

			&-text {
				padding-top: 0.5em;
				font-weight: 700;
				color: $very-dark-magenta;
			}
		}
	}

	.opinions {
		grid-row: 3/6;
		justify-content: start;
        margin-top: 2em;

		&__block {
            margin-bottom: 1em;
			padding: 1em 2.5em;
			background-color: $very-dark-magenta;
			border-radius: 5px;
			width: 100%;
			max-width: 500px;
            min-height: 225px;

			&-person {
				display: flex;
				justify-content: start;
				align-items: center;

				&-img {
					&-photo {
						padding: 1em 0;
						width: 2.6em;
						border-radius: 50%;
					}
				}

				&-data {
					padding-left: 2em;
                    text-align: left;

					&-name {
						color: $white;
						font-weight: 500;
                        padding-bottom: 0.3em;
					}

					&-status {
						color: $soft-pink;
					}
				}
			}

			&-text {
				&-description {
					color: $white;
					line-height: 1.4;
                    text-align: left;
				}
			}
		}
	}
}
